<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" CONTENT="no-cache">     
<meta http-equiv="Cache-Control" CONTENT="no-cache">     
<meta http-equiv="Expires" CONTENT="0">
<title>文章管理</title>

<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="public/jquery/validform/css.css" rel="stylesheet" type="text/css" />
<!--[if IE]><script src="public/jquery/jquery-1.11.1.min.js"></script><![endif]-->
<!--[if !IE]><!--><script src="public/jquery/jquery-2.1.1.min.js"></script><!--<![endif]-->
<script src="js/tab.js"></script>
<script src="public/jquery/validform/validform.js"></script>
<script src="public/htmledit/kindeditor.js"></script>
<script src="public/htmledit/lang/zh_CN.js"></script>
<script src="js/common.js"></script>
<script src="js/modulemanage_load.js"></script>
</head>

<body>
<div id="main">
<form method="post" action="?controller=modulemanage&operate=loading" enctype="multipart/form-data" class="form">
	<div id="main_top">
		<dl id="article_ico">
			<dd class="art_ico_8"><a href="#" id="save">确认导入</a></dd>
			<dd class="art_ico_9"><a href="?controller=modulemanage">取消返回</a></dd>
		</dl>
	</div>
	<div id="art_body">
		<table cellspacing="0" class="add_art">
			<tr>
				<th>模块表名：</th>
				<td width="400"><input name="project" type="text" id="project" class="inputxt" style="width:200px" datatype="/^[\A-Za-z0-9\s]{1,18}$/" errormsg="模块名称格式不正确！" value="" /></td>
				<td></td>
			</tr>
			<tr>
				<th>导入语句：</th>
				<td colspan="2"><textarea name="modulecode" id="modulecode" class="inputxt" ignore="ignore" altercss="gray" class="gray" style="width:500px;height:120px"></textarea><span class="notes colorf60"></td>
			</tr>
		</table>
	</div>
</div>
<input type="hidden" name="time" id="time" value="{time()}">
</form>
 </body>
</html>
