<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
			<rules>
				<rule name="rule 1l">
	<match url="^index.html"  />
	<action type="Rewrite" url="/index.php?controller=home&amp;operate=index"  />
</rule>
<rule name="rule 2l">
	<match url="^content_(.*)_(.*).html"  />
	<action type="Rewrite" url="/index.php?controller=content&amp;project={R:1}&amp;id={R:2}"  />
</rule>
<rule name="rule 3l">
	<match url="^tags/(.*)_(.*).html"  />
	<action type="Rewrite" url="/index.php?controller=search&amp;tags={R:1}&amp;page={R:2}"  />
</rule>
<rule name="rule 4l">
	<match url="^tags/(.*).html"  />
	<action type="Rewrite" url="/index.php?controller=search&amp;tags={R:1}"  />
</rule>
<rule name="rule 5l">
	<match url="^(.*)_(.*)_(.*)_(.*).html"  />
	<action type="Rewrite" url="/index.php?controller=classify&amp;project={R:1}&amp;classify={R:2}&amp;classid={R:3}&amp;page={R:4}"  />
</rule>
<rule name="rule 6l">
	<match url="^(.*)_(.*)_(.*).html"  />
	<action type="Rewrite" url="/index.php?controller=classify&amp;project={R:1}&amp;classify={R:2}&amp;classid={R:3}"  />
</rule>
<rule name="rule 7l">
	<match url="^map.html"  />
	<action type="Rewrite" url="/index.php?controller=map"  />
</rule>
<rule name="rule 8l">
	<match url="^message.html"  />
	<action type="Rewrite" url="/index.php?controller=message"  />
</rule>
<rule name="rule 9l">
	<match url="^message_add.html"  />
	<action type="Rewrite" url="/index.php?controller=message&amp;operate=add"  />
</rule>
<rule name="rule 10l">
	<match url="^message_(.*)_(.*).html"  />
	<action type="Rewrite" url="/index.php?controller=message&amp;operate={R:1}&amp;id={R:2}"  />
</rule>
<rule name="rule 11l">
	<match url="^message_(.*).html"  />
	<action type="Rewrite" url="/index.php?controller=message&amp;page={R:1}"  />
</rule>
<rule name="rule 12l">
	<match url="^signup.html"  />
	<action type="Rewrite" url="/index.php?controller=signup"  />
</rule>

			</rules>
		</rewrite>
   </system.webServer> 	
</configuration>
