<tr>
	<th>选择模板:</th>
	<td><input type="text" name="{$v['name']}" id="template_url" class="inputxt" style="width:300px" {if $v['must']=='0'}ignore="ignore"{/if} datatype="{$v['type_verification']}{$v['length']}" nullmsg="{if $v['nullmsg']}{$v['nullmsg']}{else}请填写信息！{/if}" errormsg="{if $v['errormsg']}{$v['errormsg']}{else}{$v['item']}{$v['aliases']}要{$v['length']}个字符！{/if}" value="{if $info[$v['name']]}{$info[$v['name']]}{elseif $project=='single'}/{$project}.html{else}/{$project}_content.html{/if}"/> <input type="button" id="filemanage" value="浏览模板" class="inputxt" style="width:100px;height:30px;" /></td>
	<td><span class="article_notes colorf60">※：可以自定义模版。默认模版是{$project}_content.html</span></td>
</tr>