<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文章管理</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="public/jquery/validform/css.css" rel="stylesheet" type="text/css" />
<!--[if IE]><script src="public/jquery/jquery-1.11.1.min.js"></script><![endif]-->
<!--[if !IE]><!--><script src="public/jquery/jquery-2.1.1.min.js"></script><!--<![endif]-->
<script src="js/tab.js"></script>
<script src="public/jquery/validform/validform.js"></script>
<script src="js/password.js"></script>
</head>

<body>

<div id="main">
<form method="post" action="?controller=manage&operate=save" class="form">
	<div id="main_top">
		<dl id="article_ico">
			<dd class="art_ico_8"><a href="#" id="save">保存配置</a></dd>
			<dd class="art_ico_9"><a href="#">取消返回</a></dd>
		</dl>
	</div>
	<div id="art_body">
		<table cellspacing="0" class="add_art">
			<tr>
				<th>用户名：</th>
				<td width="320"><input name="user" type="text" id="user" class="inputxt" style="width:300px" datatype="*5-255" nullmsg="请输入用户名！"errormsg="用户名不能小于5位！" /></td>
				<td></td>
			</tr>
			<tr>
				<th>原密码：</th>
				<td><input name="password" type="password" id="password" class="inputxt" style="width:300px" datatype="*5-255" nullmsg="请输入登录密码！"errormsg="登录密码不能小于5位" /></td>
				<td></td>
			</tr>
			<tr>
				<th>新密码：</th>
				<td><input name="newpassword" type="password" id="newpassword" class="inputxt" style="width:300px" datatype="*5-255" nullmsg="请输入新密码！"errormsg="新密码不能小于5位" /></td>
				<td></td>
			</tr>
			<tr>
				<th>再次输入：</th>
				<td><input name="newpasswords" type="password" id="newpasswords" class="inputxt" style="width:300px" recheck="newpassword" datatype="*" nullmsg="请再次输入新密码！" errormsg="两次输入不一至！" /></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
<input type="hidden" name="time" id="time" value="{time()}">
</form>

</body>
</html>
