<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" CONTENT="no-cache">     
<meta http-equiv="Cache-Control" CONTENT="no-cache">     
<meta http-equiv="Expires" CONTENT="0">
<title>报名系统</title>
<!--[if IE]><script src="public/jquery/jquery-1.11.1.min.js"></script><![endif]-->
<!--[if !IE]><!--><script src="public/jquery/jquery-2.1.1.min.js"></script><!--<![endif]-->
<script src="js/tab.js"></script>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="public/jquery/validform/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main">
	<div id="art_body">
		<table cellspacing="0" class="add_art">
			<tr>
				<th>考号：</th>
				<td>{$number}</td>
			</tr>
			<tr>
				<th>姓名：</th>
				<td>{$user}</td>
			</tr>
			<tr>
				<th>性别：</th>
				<td>{$sex}</td>
			</tr>
			<tr>
				<th>年龄：</th>
				<td>{$age}</td>
			</tr>
			<tr>
				<th>教育程度：</th>
				<td>{$edu}</td>
			</tr>
			<tr>
				<th>民族：</th>
				<td>{$ethnic}</td>
			</tr>
			<tr>
				<th>出生日期：</th>
				<td>{$year}年{$month}月{$day}日</td>
			</tr>
			<tr>
				<th>家庭地址：</th>
				<td>{$fadd}</td>
			</tr>
			<tr>
				<th>学校地址：</th>
				<td>{$sadd}</td>
			</tr>
			<tr>
				<th>手机：</th>
				<td>{$phone}</td>
			</tr>
			<tr>
				<th>备用手机：</th>
				<td>{$mphone}</td>
			</tr>
			<tr>
				<th>家长姓名：</th>
				<td>{$fname}</td>
			</tr>
			<tr>
				<th>家长工作：</th>
				<td>{$fjob}</td>
			</tr>
			<tr>
				<th>QQ：{$qq}</th>
				<td>邮箱：{$email}</td>
			</tr>
			<tr>
				<th>报考层次：</th>
				<td>{$level}</td>
			</tr>
			<tr>
				<th>报考专业：</th>
				<td>{$specialty}</td>
			</tr>
			<tr>
				<th>其他：</th>
				<td>{$other}</td>
			</tr>
		</table>
	</div>
</div>
 </body>
</html>
