<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文章管理</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="public/jquery/validform/css.css" rel="stylesheet" type="text/css" />
<!--[if IE]><script src="public/jquery/jquery-1.11.1.min.js"></script><![endif]-->
<!--[if !IE]><!--><script src="public/jquery/jquery-2.1.1.min.js"></script><!--<![endif]-->
<script src="js/tab.js"></script>
<script src="public/jquery/validform/validform.js"></script>
<script src="js/message.js"></script>
</head>

<body>

<div id="main">

  <form name="checkboxform" method="post" action="?controller=message&operate=deletebatch" class="form">
	<div id="main_top">
		<dl id="article_ico">
			<dd class="art_ico_6"><a href="?controller=message&status=0" name="message" class="message">未回留言</a></dd>
			<dd class="art_ico_3"><a href="#" id="delete" class="delete">删除留言</a></dd>
			<dt class="art_ico_7"><span>快速导航</span></dt>
		</dl>
	</div>
	<div id="art_body">
		<div id="art_list">
			<table cellspacing="0">
				<tr>
					<th width="40">选择</th>
					<th class="art_title_th">标题</th>
					<th width="100">昵称</th>
					<th width="100">QQ</th>
					<th width="100">电话</th>
					<th width="100">邮箱</th>
					<th width="100">发布日期</th>
					<th width="100">回复日期</th>
					<th width="100">状态</th>
					<th width="100">操作</th>
				</tr>
				{loop $list $k $v}
				<tr class="bg_fff">
					<td><input type="checkbox" id="record{intval($k+1)}" name="record[]" value="{$v['id']}" /></td>
					<td><a href="?controller=message&operate=reply&id={$v['id']}" class="art_title_txt" title="{$v['content']}">{$v['title']}</a></td>
					<td>{$v['name']}</td>
					<td>{$v['qq']}</td>
					<td>{$v['tel']}</td>
					<td>{$v['mail']}</td>
					<td>{date('Y-m-d',$v['time'])}</td>
					<td>{if $v['rtime']}{date('Y-m-d',$v['rtime'])}{/if}</td>
					<td>
					{if $v['status']=="0"}未回复{else}已回复{/if}
					</td>
					<td>
						<a href="?controller=message&operate=reply&id={$v['id']}" class="color00f">回复</a>&nbsp; |&nbsp;
						<a href="?controller=message&operate=deleteone&id={$v['id']}" class="colorf00" onclick="javascript:return confirm('您确定要删除本条留言吗？')">删除</a>
					</td>
				</tr>
				{/loop}
			</table>
		</div>
		<div id="art_sxsz">
			<div id="art_xz"><input type="button" value="全选" id="art_xz_qx" onclick="checkAll()" /><input type="button" value="反选" id="art_xz_fx" onclick="switchAll()" /><input type="button" value="不选" id="art_xz_bx" onclick="uncheckAll()" /></div>
		</div>
		<div id="art_fenye">
			<dl>{$fy}</dl>
		</div>
	</div>
	<input type="hidden" name="method" id="method"><input type="hidden" name="parameter" id="parameter">
   </form>
</div>

</body>
</html>
