<table cellspacing="0" cellpadding="0" border="0" class="add_art">
	<tr>
		<th>栏目名称：</th>
		<td style="width: 300px;"><input name="name" type="text" id="name" class="inputxt" style="width:240px" datatype="*2-255" errormsg="栏目名称至少2个字符！" value="{$name}" /></td>
		<td><span class="article_notes colorf60">※：栏目在导航上显示的名称。最好不要有重复。</span></td>
	</tr>
	<tr>
		<th>英文名称：</th>
		<td><input name="enname" type="text" id="enname" class="inputxt" style="width:240px" datatype="s2-255" errormsg="英文名称至少2个字符！" value="{$title}" /></td>
		<td><span class="article_notes colorf60">※：栏目的英文url。最好不要有重复。</span></td>
	</tr>
</table>