<table cellspacing="0" cellpadding="0" border="0" class="add_art">
	<tr>
		<th>栏目名称：</th>
		<td style="width: 300px;">
			<textarea name="name" value="" style="width:300px;height:150px" datatype="*2-5000" errormsg="栏目录入不正确！"></textarea>
			<br><a href="http://www.fengcms.com/tool/classtool.php" target="_blank"><font color=#ff6600>点击这里打开批量生成中文栏目拼音工具</font></a>
		</td>
		<td><span class="article_notes colorf60">※：批量添加栏目可以一次性添加多个栏目，格式为<br>栏目名称|英文名称<br>一行一个。例如：<p class="color999">公司简介|about<br>公司动态|news</p></span></td>
	</tr>
</table>